#botao-gerar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dcdcdc; /* color */
  border-radius: 30px;
  border: 2px solid black; /* Black Border */
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#botao-gerar:hover {
  background-color: #C0C0C0; /* no comment */
}

#name{
    background-color: #dcdcdc;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
}
#name:focus {
    border-color: white; /* on focus */
    outline: none; /* Remove default outline */
}
#name:hover {
    background-color: #C0C0C0; /* hover */
}

#height {
    background-color: #dcdcdc;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
}
#height:focus {
    border-color: white; /* focus */
    outline: none; /* Remove default outline */
}
#height:hover {
    background-color: #C0C0C0; /* no comment */
}

#width {
    background-color: #dcdcdc;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
}
#width:focus {
    border-color: white; /* focus */
    outline: none; /* Remove default outline */
}
#width:hover {
    background-color: #C0C0C0; /* hover */
}

body{
    background-color: #808080;
}

canvas{
    background-color: white;
}

#botao-salvar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dcdcdc; /* color */
  border-radius: 30px;
  border: 2px solid black; 
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#botao-salvar:hover {
  background-color: #C0C0C0; 
}

#botao-pdf {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dcdcdc; 
  border-radius: 30px;
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#botao-pdf:hover {
  background-color: #C0C0C0; 
}

#botao-limpar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dcdcdc;
  border-radius: 30px;
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#botao-limpar:hover {
  background-color: #C0C0C0;
}



.btnn {
  width: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
}

